<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../lib/bootstrap.min.css">
    <link rel="stylesheet" href="../css/custom.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="../lib/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="../lib/bootstrap.min.js"></script>
</head>
<body>
    <div class="panel panel-primary panel-cim2">
        <div class="panel-heading ">Facebook Messeger</div>
        <div class="panel-body">
            <div class="panel panel-success">
                <div class="panel-heading ">Juan Castro</div>
                <div class="panel-body">
                    <div class="msg msg-others">Ma&ntilde;ana hay que entregar lo de CIM??</div>
                    <br>
                    <div class="msg msg-mine">Me parece que si</div>
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading ">Mariano Martinez</div>
                <div class="panel-body">
                    <div class="msg msg-others">Te estaba buscando el chueco esta tarde</div>
                    <br>
                    <div class="msg msg-mine">Si si, ya me llamo</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>